/* common styles and utilities */
* {
  font-family: "Poppins", sans-serif;
  background: #f3f1ff;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  background: #ffffff;
  width: 870px;
  padding: 30px;
  margin-top: 21px;
  border-radius: 5px;
}
hr {
  border: 1px solid #d1d1d1;
  margin-bottom: 27px;
}

/*------------- 
top players style
--------------- */
.top-players {
  margin-bottom: 30px;
}
.section-title {
  color: #562eff;
  font-size: 24px;
  margin-top: 3px;
}

.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}
.player {
  display: flex;
  align-items: center;
}
.player img {
  height: 56px;
  width: 56px;
}
.player-name {
  margin-left: 16px;
  font-size: 18px;
}
/*------------------------
 top player style end
 ---------------------- */

/*--------------------- 
top blog style start
--------------------- */
.blogs{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-row-gap: 26px;
}
.blog {
  display: flex;
  
}
.thumbnail img {
  width: 177px;
  height: 117px;
}

.blog-info{
  margin-left: 16px;
}
.blog-title{
  margin-bottom: 6px;
  font-size: 20px;
}
.blog-author{
  color: #9F9F9F;
  font-size: 16px;
}
.blog-author a {
  text-decoration: none;
  font-size: 16px;
  color: #562eff;
}

/* -------------------------
top blog style end
--------------------------- */


/* ------------------
courses style
-------------------- */
.courses{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap: 24px;
}
.course{
  width: 252.42px;
  box-shadow:(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05));
}
.course-banner img{
  width: 224px;
  height: 104px;
}
.course-info{
  display: flex;
  align-items: center;
  justify-content:space-between;
}
.fa-star{
  font-size: 12px;
}
.fa-star.field{
color:#FFC014
}
.fa-star.empty{
color:#AEAEAE;
}
.course-duration{
  color: #FF4A60;
  font-weight: 600;
  font-size: 14.6913px;
  background: #FFE4E8;
  border-radius: 14.6913px;
  padding: 4px 5px;
}
/* ---------------------
     course style end
     --------------------*/
/* ---------------------
    media query 
    ------------- */


    /* mobile devices */
    @media screen and (max-width:688px) {
      .container{
        width: 100%;
      }
      .players , .blogs , .courses{
        grid-template-columns: repeat(1,1fr);
      }
      .player , .blog {
        flex-direction: column;
        align-items: center;
      }
      .courses{
        justify-items: center;
      }
      .section-title{
        display: flex;
        justify-content: center;
      }
    }
  
